@import 'nib'

a:link
a:active
a:visited
  color #000000
  text-decoration underline
a:hover
  color #000000
  text-decoration none
  border-style dashed
  border-width 1px
button-gradient()
  box-shadow inset 0 0 0px 1px rgba(255,255,255,.5) , 0 1px 2px 0px rgba(0,0,0,.6)
  background linear-gradient(bottom, #CFCCC9 0%,#e0dedd 75%)
  border none
lighter-button-gradient()
  box-shadow inset 0 0 0px 1px rgba(255,255,255,.5) , 0 1px 2px 0px rgba(0,0,0,.6)
  background linear-gradient(bottom, #eeeeee 0%,#ffffff 75%)
  border none
dark-button-gradient()
  box-shadow inset 0 0 0px 1px rgba(255,255,255,.5) , 0 1px 2px 0px rgba(0,0,0,.6)
  background linear-gradient(bottom, #000000 0%,#333333 75%)
  border none
html.font-loaded body
  font-family "LogoTypeGothic", "Noto Sans Japanese", "Source Han Sans", sans-serif, Symbola
html
  margin 0
  padding 0
body
  text-rendering optimizeLegibility
  font-family "Noto Sans Japanese", "Source Han Sans", sans-serif, Symbola
  button-gradient()
  color #333
  font-size 15px
  line-height 1.6
  margin 0
  padding 0
  overflow hiden
  word-wrap break-word
  counter-reset section-counter-1
  position relative
::-webkit-scrollbar
  -webkit-appearance none
  width 7px
::-webkit-scrollbar-thumb
  button-gradient()
  box-shadow inset 0 0 0px 1px rgba(255,255,255,.5) , 0 1px 2px 0px rgba(0,0,0,.6)
  border-radius 4px
::-webkit-scrollbar-track-piece
  background-color #888888
  border-radius 4px
html.font-loaded #site-header
  font-family "EB Garamond", "LogoTypeGothic", "Noto Sans Japanese", "Source Han Sans", sans-serif, Symbola
#site-header
  lighter-button-gradient()
  & h1
    font-size 60px
    height 60px
    line-height 60px
    margin 0
    padding 0
    white-space nowrap
    & a#site-logo
      height 60px
      width 60px
      float left
      & img
        height 60px
        width 60px
    & a#site-name
      height 60px
      float left
      text-decoration none
for i in 1..6
  h{i}
    font-weight 1000 - i * 100
for i in 1..6
  h{i}
    font-size unquote("" + (21 - i) + "px")
h6::before
  content "■"
#document-root
  min-height 100%
  width 100%
  border 4px solid  #f8f8f8
  background-color #ffffff
  border-radius 8px
  margin 0 0 0 0
  padding 0 0 0 0
  button-gradient()
  background-attachment fixed
  & #document-content
    margin 10px 10px 10px 10px
    padding 0
    background-color #eeeeee
    border 4px solid #888888
    border-radius 4px
    & header
      margin 0
      padding 0
      padding-bottom 20px
      & h1
        margin 0
        padding 0
        border-bottom 4px solid #888888
        background-color #cccccc
  for i in 1..6
    & h{i}
      font-size unquote("" + (21 - i) + "px")
  aside
    for i in 1..6
      & h{i}
        font-weight 1000 - i * 100
    for i in 1..6
      & h{i}
        font-size unquote("" + (18 - i / 2) + "px")
    & h6::before
      content "■"
@media screen and (max-width: 1000px)
  pre code
    min-width 300%
.text
.translation
  white-space pre
  background-color #e0dedd
  border 1px solid #888888
  font-size 16px
  overflow auto
  margin 5px
  padding 10px
  border-radius 1px
  counter-reset ln
  box-shadow inset 0 0 0px 1px rgba(255,255,255,.5) , 0 1px 2px 0px rgba(0,0,0,.6)
  background-color rgb(240, 240, 240)
  border none
  & p
    padding 0
    margin 0
    &:before
      counter-increment ln
      content counter(ln) ". "
      padding-right 10px
html.font-loaded .text:before
  font-family "EB Garamond"
.text:before
  content "TEXT"
  border 2px solid #444444
  border-radius 2px
  background-color #CFCCC9
  font-size 16px
  line-height 16px
  font-weight bold
html.font-loaded .translation:before
  font-family "EB Garamond"
.translation:before
  content "TRANSLATION"
  border 2px solid #444444
  border-radius 2px
  background-color #CFCCC9
  font-size 16px
  line-height 16px
  font-weight bold
.notes
  background-color #e0dedd
  border 1px solid #888888
  font-size 12px
figure img
  border 1px solid #888888
figcaption
  background-color #e0dedd
  border 1px solid #888888
  display inline-block
  font-size 12px
html.font-loaded [lang="la"]
  font-family "EB Garamond"
[lang="la"]
  font-size 24px
  line-height 24px
.metadata
  & dd p
    padding 0
    margin 0
  & dt
    font-weight bold
    padding-right 10px
    float left
    clear both
.rust-doc
  background-color: white;

.rust-doc
  @import 'rust'

// vim:set ts=2 sw=2 et:
